#contacto {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fondo-contacto.png");
    background-size: cover;
    background-position: center;
}
.card {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.contact-info {
    padding: 2rem;
    flex: 1;
}
.map-container {
    flex: 1;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
#contacto h2 {
    color: #ffffff;
}
.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: #ffffff;
}
.info-item svg {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    fill: #e6bfb1;
}
.info-item a {
    color: #e6bfb1;
    text-decoration: none;
    transition: color 0.3s ease;
}
.info-item a:hover {
    color: #e89f85;
}
iframe {
    width: 85%;
    height: 85%;
    border: 3px solid #ddd;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .card {
        flex-direction: row;
    }

    .contact-info {
        margin-bottom: 10px;
    }

    
}