@import url('https://fonts.googleapis.com/css?family=EB Garamond');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

h1, h2, h3, p, span, a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Barra de navegación */
.navbar {
    background-color: #270533;
    color: #fff;
    padding: 25px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 20px;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-list a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #8c5e9d;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-list a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.nav-list a:hover {
    color: #8c5e9d;
}

#scrollToTopBtn {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: #3e0a5d; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: opacity 0.3s, transform 0.3s; 
    opacity: 0; 
    transform: translateY(100px); 
}

#scrollToTopBtn.show {
    display: block;
    opacity: 1; 
    transform: translateY(0); 
    animation: fadeInUp 0.5s ease-out;
}

#scrollToTopBtn.hide {
    opacity: 0; 
    transform: translateY(100px); 
    animation: fadeOutDown 0.5s ease-out; 
}

#scrollToTopBtn:hover {
    background-color: #631193; 
    transform: scale(1.1); 
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100px);
    }
}

h2 {
    color: #f3f4f4;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.7em;
}

h3 {
    color: #3f343c;
    font-size: 22px;
    padding: 10px 0;
}

/* Media Queries para diseño responsive */

/* Teléfonos (767px o menos) */
@media (max-width: 767px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        margin: 5px 0;
        font-size: 12px;
    }
}